.home {
  height: 100%;
}
/* banner */
.home .banner-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.home .banner-container :first-child {
  padding-right: 0.3rem;
  flex: 3;
}
.home .banner-container > :nth-child(2) {
  flex: 1;
}
/* video container */
.home .video-container {
  display: flex;
  /* justify-content: space-around;
  flex-wrap: wrap; */
  margin: 1rem;
  overflow-x: scroll;
}
.home .video-container::-webkit-scrollbar {
  display: none;
}
.home .video-container .video-banner {
  flex: 1;
}

/* services */
.home .services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0rem;
  color: var(--black);
}
.home .services > div {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.home .services .services-text {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  text-transform: uppercase;
}
.home .services .services-text .services-heading {
  font-size: larger;
  font-weight: 500;
}
.home .services .services-text .services-subheading {
  color: var(--mediumGray);
}
.home .services .truck-svg,
.home .services .spinner-svg,
.home .services .headset-svg {
  height: 35px;
  width: 35px;
}
/* featured and top selling products */
.home .featured-products,
.home .top-selling-products {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home .featured-products {
  background-color: var(--lightGray);
}
.home .featured-title,
.home .top-selling-title {
  font-weight: 400;
  font-size: 2rem;
  color: var(--black);
}
.home .featured-product-list,
.home .top-selling-product-list {
  display: flex;
  overflow-x: hidden;
  padding: 1rem 0rem;
  scroll-behavior: smooth;
}
/* .home .featured-product-list::-webkit-scrollbar,
.home .top-selling-product-list::-webkit-scrollbar {
  display: none;
} */
.home .featured-product-list > div,
.home .top-selling-product-list > div {
  margin: 0rem 1rem;
}
.home .featured-products .scroll-ctrl,
.home .top-selling-products .scroll-ctrl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .featured-products .scroll-ctrl .dot,
.home .top-selling-products .scroll-ctrl .dot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0rem 0.5rem;
  border: 1px solid var(--mediumGray);
  background-color: var(--white);
  border-radius: 50%;
  display: inline-block;
  transition-duration: 0.2s;
}
.home .featured-products .scroll-ctrl .dot.active,
.home .top-selling-products .scroll-ctrl .dot.active {
  background-color: var(--mediumGray);
  width: 1.5rem;
  height: 0.3rem;
  border-radius: 6px;
}
@media screen and (max-width: 800px) {
  .home .video-container .video-banner video {
    min-width: 160px;
  }
  .home .featured-product-list .card,
  .home .top-selling-product-list .card {
    width: 14rem;
    height: 21rem;
  }
  .home .featured-product-list .card .details .review span,
  .home .top-selling-product-list .card .details .review span {
    display: none;
  }
  .home .featured-product-list .card img,
  .home .top-selling-product-list .card img {
    width: 12rem;
    height: 12rem;
  }
}
@media screen and (max-width: 600px) {
  .home .services {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 500px) {
  /* featured and top selling products */
  .home .featured-title,
  .home .top-selling-title {
    font-size: 1.4rem;
  }
  .home .featured-product-list .card,
  .home .top-selling-product-list .card {
    width: 9rem;
    height: 14rem;
  }
  .home .featured-product-list .card img,
  .home .top-selling-product-list .card img {
    width: 9rem;
    height: 7.5rem;
  }
  .home .featured-product-list .card .details,
  .home .top-selling-product-list .card .details {
    padding-top: 0.2rem;
  }
  .home .featured-product-list .card .details > span,
  .home .top-selling-product-list .card .details > span {
    padding: 0.05rem 0rem;
  }
}
