.home {
  height: 100%;
}
.home .banner-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
}
.home .video-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0rem;
}
.home .services {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0rem;
}
.home .services > div {
  display: flex;
}
.home .services .services-text {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  text-transform: uppercase;
}
.home .services .services-text .services-heading {
  font-size: larger;
  font-weight: 500;
}
.home .services .services-text .services-subheading {
  color: var(--mediumGray);
}
.home .featured-products,
.home .top-selling-products {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home .featured-products {
  background-color: var(--lightGray);
}
.home .featured-title,
.home .top-selling-title {
  font-weight: 400;
  font-size: 2rem;
}
.home .featured-product-list,
.home .top-selling-product-list {
  display: flex;
  overflow-x: hidden;
  padding: 1rem 0rem;
  scroll-behavior: smooth;
}
/* .home .featured-product-list::-webkit-scrollbar,
.home .top-selling-product-list::-webkit-scrollbar {
  display: none;
} */
.home .featured-product-list > div,
.home .top-selling-product-list > div {
  margin: 0rem 1rem;
}
.home .featured-products .scroll-ctrl .dot,
.home .top-selling-products .scroll-ctrl .dot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  border: 1px solid var(--mediumGray);
  background-color: var(--white);
  border-radius: 50%;
  display: inline-block;
}
.home .featured-products .scroll-ctrl .dot.active,
.home .top-selling-products .scroll-ctrl .dot.active {
  background-color: var(--mediumGray);
}
.home .featured-products .scroll-ctrl :nth-child(2),
.home .top-selling-products .scroll-ctrl :nth-child(2) {
  margin-left: 0.5rem;
}
