.product-details {
  display: flex;
  flex-direction: column;
}
.product-details .section1 {
  display: flex;
  margin: 1rem 5rem;
}
.product-details .product-images {
  display: flex;
}
/* side-image */
.product-details .product-images .images-list .side-image {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  opacity: 50%;
  margin: 0rem 1rem 1rem 0rem;
}
.product-details .product-images .images-list .side-image.selected {
  border: 1px solid var(--mediumred);
  opacity: 100%;
}
.product-details .product-images .images-list .side-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
/* side-video */
.product-details .product-images .images-list .side-video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  opacity: 50%;
  margin: 0rem 1rem 1rem 0rem;
}
.product-details .product-images .images-list .side-video .play-icon {
  position: absolute;
  color: var(--lightGray);
  height: 2rem;
  width: 2rem;
  opacity: 0.7;
}
.product-details .product-images figure {
  margin: 0rem;
  width: 25rem;
  height: 26rem;
  background-repeat: no-repeat;
}
.product-details .product-images figure:hover img {
  opacity: 0;
}
.product-details .product-images img {
  cursor: zoom-in;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  pointer-events: none;
}
/* .product-details .product-images .preview-zoom {
  margin-top: 10px;
  border: 1px solid black;
  width: 350px;
  height: 500px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
} */
.product-details .product-info {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}
.product-details .product-info > div {
  padding: 0.5rem 0rem;
}
.product-details .product-info .product-title {
  font-weight: 400;
  font-size: 2rem;
  color: var(--black);
}
.product-details .product-info .review {
  display: flex;
  align-items: center;
}
.product-details .product-info .review .review-star.rated {
  color: var(--yellow);
}
.product-details .product-info .review > div {
  padding-left: 0.5rem;
  font-size: 0.9rem;
}
.product-details .product-info .price {
  display: flex;
}
.product-details .product-info .price .offer-price {
  color: var(--mediumred);
  font-size: 1.3rem;
}
.product-details .product-info .price .original-price {
  color: var(--gray);
  font-size: 1.3rem;
  padding-left: 1rem;
  text-decoration: line-through;
}
.product-details .product-info .qty {
  display: flex;
  align-items: center;
  position: relative;
}
.product-details .product-info .qty .input-field {
  outline: none;
  border: 1px solid var(--mediumGray);
  text-align: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  padding: 0px 20px;
}
.product-details .product-info .qty .qty-field {
  position: relative;
  margin-left: 1rem;
}
.product-details .product-info .qty .qty-field .minus {
  cursor: pointer;
  position: absolute;
  left: 0.5rem;
  top: 20%;
}
.product-details .product-info .qty .qty-field .plus {
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 20%;
}
.product-details .product-info .qty .error {
  color: var(--mediumred);
  position: absolute;
  top: 3rem;
  left: 5rem;
  font-size: 0.8rem;
  font-weight: 700;
}
.product-details .product-info .purchase-button {
  cursor: pointer;
  width: 7rem;
  border: 1px solid var(--mediumred);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
  margin: 1rem;
  color: var(--mediumred);
}
.product-details .product-info .purchase-button:hover {
  background: var(--mediumred);
  color: var(--white);
}
.product-details .product-info hr {
  width: 100%;
  border: 1px solid var(--lightGray);
}
/* additional info section 📄 */
.product-details .additional-info {
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
}
.product-details .additional-info .add-info-titles {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--black);
}
.product-details .additional-info .add-info-titles > span {
  cursor: pointer;
  border-bottom: 2px solid var(--white);
}
.product-details .additional-info .add-info-titles > span:hover {
  color: var(--mediumred);
  border-bottom: 2px solid var(--mediumred);
}
.product-details .additional-info .additional-info-details {
  border: 1px solid var(--mediumGray);
  padding: 1rem;
}
.product-details .additional-info .additional-info-details > div {
  display: none;
}
