.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  height: 25rem;
  cursor: pointer;
  background-color: var(--white);
}
.card:hover {
  box-shadow: 0px 0px 4px 0px rgba(174, 174, 174, 0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(174, 174, 174, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(174, 174, 174, 0.75);
}
.card img {
  width: 16rem;
  height: 16rem;
}
.card .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.card .details > span {
  padding: 0.2rem 0rem;
}
.card .details .category {
  color: var(--mediumGray);
}
.card .details .item {
  color: var(--black);
}
.card .details .price {
  color: var(--mediumred);
}
.card .details .review {
  display: flex;
  align-items: center;
}
.card .details .review {
  display: flex;
  align-items: center;
}
.card .details .review .review-star.rated {
  color: var(--yellow);
}
.card .details .review > div {
  padding-left: 0.5rem;
  font-size: 0.9rem;
}
