.mobile-header {
  justify-content: center;
  align-items: center;
  height: 3rem;
  position: relative;
}
.mobile-header img {
  object-fit: contain;
  height: 2rem;
}
.mobile-header .handburg {
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 50%;

  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
