.header {
  display: flex;
  flex-direction: column;
  height: 6rem;
  justify-content: center;
  position: relative;
  color: var(--black);
  box-shadow: 0px 3px 15px 0px rgba(174, 174, 174, 0.75);
  -webkit-box-shadow: 0px 3px 15px 0px rgba(174, 174, 174, 0.75);
  -moz-box-shadow: 0px 3px 15px 0px rgba(174, 174, 174, 0.75);
}
/* first layer */
.header .first-layer {
  display: flex;
  align-items: center;
}
.header .logo-container {
  display: flex;
  align-items: center;
  width: 10rem;
}
.header .logo-container img {
  margin-left: 1rem;
  cursor: pointer;
  width: 75%;
}
.header .logo-container .menu-bar {
  cursor: pointer;
}
/* search field 🔎 */
.header .search {
  position: absolute;
  width: 50%;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.header .search-product {
  display: flex;
  position: relative;
}
.header input {
  width: 100%;
  outline: none;
  border: 1px solid var(--gray);
  border-radius: 15px;
  padding: 0.4rem 0.4rem;
  outline: none;
  font-size: 1rem;
}
.header .search-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  right: 0.2rem;
  top: 0.6rem;
}
/* second layer */

.header .header-titles {
  display: flex;
  margin-top: 1rem;
}
.header .header-titles > span {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 2rem;
}
.header .header-titles .title-text:hover {
  color: var(--mediumred);
  transform: scale(1.1);
}
@media screen and (max-width: 900px) {
  .header .first-layer {
    justify-content: space-between;
  }
  .header .search {
    margin-right: 1rem;
    position: relative;
    width: unset;
    left: unset;
    -ms-transform: translateX(0);
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
