.header {
  display: flex;
  height: 4rem;
  align-items: center;
  color: var(--black);
  box-shadow: 0px 3px 15px 0px rgba(174, 174, 174, 0.75);
  -webkit-box-shadow: 0px 3px 15px 0px rgba(174, 174, 174, 0.75);
  -moz-box-shadow: 0px 3px 15px 0px rgba(174, 174, 174, 0.75);
}
.header .logo-container {
  display: flex;
  align-items: center;
  flex: 1;
}
.header .logo-container img {
  margin-left: 1rem;
  cursor: pointer;
  width: 75%;
}
.header .logo-container .menu-bar {
  cursor: pointer;
}
.header .header-titles {
  display: flex;
  flex: 5;
}
.header .header-titles > span {
  cursor: pointer;
  padding-left: 2rem;
  transition: all 0.2s ease-in-out;
}
.header .header-titles .title-text:hover {
  color: var(--mediumred);
  transform: scale(1.1);
}
.header .search {
  flex: 1;
  margin-right: 1rem;
}
.header .search-product {
  display: flex;
  position: relative;
}
.header input {
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--black);
  padding: 0.2rem 0.2rem;
  outline: none;
  font-size: 1rem;
}
.header .search-icon {
  position: absolute;
  height: 18px;
  width: 18px;
  right: 0.2rem;
  top: 0.3rem;
}
