.footer {
  display: flex;
  flex-direction: column;
}
.footer .top {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--lightBlack);
  color: var(--mediumGray);
  padding: 1rem 0rem;
}
.footer .top span {
  cursor: pointer;
  margin: 0rem 0.5rem;
}
.footer .bottom {
  background-color: var(--lightGray);
  display: flex;
  padding: 0.2rem 0rem;
  /* justify-content: space-between; */
  justify-content: center;
}
.footer .bottom .text {
  text-align: center;
  justify-self: center;
  /* padding-left: 1rem; */
}
/* .footer .bottom .right-side {
  display: flex;
  align-items: center;
}
.footer .right-side .social-icons {
  padding: 0rem 1rem;
  cursor: pointer;
}
.footer .right-side .social-icons.fb {
  color: var(--violet);
}
.footer .right-side .social-icons.insta {
  color: var(--mediumred);
}
.footer .right-side .social-icons.twitter {
  color: var(--blue);
} */
