:root {
  --white: #ffffff;
  --black: #000000;
  --lightBlack: #222222;
  --lightGray: #f7f7f7;
  --mediumred: rgb(211, 73, 73);
  --blue: rgb(11, 190, 235);
  --green: rgb(56, 218, 97);
  --violet: rgb(112, 86, 226);
  --mediumGray: rgb(161, 161, 161);
  --gray: rgb(126, 126, 126);
  --yellow: #fcb941;
}
.App {
  overflow: hidden;
  font-family: poppins;
  color: var(--gray);
}
.route {
  height: 100vh;
  width: 100vw;
}
.route .container {
  height: calc(100vh - 4rem);
  overflow-y: scroll;
}
/* selection */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* scrollbar */
.route .container ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.route .container ::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--lightGray);
}
.route .container ::-webkit-scrollbar-thumb {
  background: var(--mediumGray);
  border-radius: 10px;
}
.route .container ::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}
