:root {
  --white: #ffffff;
  --black: #000000;
  --lightGray: #f7f7f7;
  --mediumred: rgb(211, 73, 73);
  --mediumGray: rgb(161, 161, 161);
  --gray: rgb(126, 126, 126);
}
.App {
  overflow: hidden;
}
.route {
  /* margin: 1rem; */
  height: 100vh;
  width: 100vw;
}
.route .container {
  height: calc(100vh - 3rem);
  overflow: scroll;
}
/* selection */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: var(--lightGray);
}
::-webkit-scrollbar-thumb {
  background: var(--mediumGray);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gray);
}
